<%- include('./includes/header') -%> <%-
include('./includes/navSchedules') -%>
<div class="container-schedules">
  <div class="header-schedules">
    <h1><%= selectedDay.toUpperCase() %></h1>
  </div>
  <%- include('./includes/noteModalUpdate') -%> <%-
  include('./includes/noteModalCreate') -%><%-
  include('./includes/noteModalClear') -%>

  <div class="container overflow-hidden container-day-schedule">
      <%- include('./includes/noteContent') -%>
    </button>
    <div class="container-btn">
      <button id="modalClear" class="btn btn-danger" data-bs-toggle="modal"
      data-bs-target="#modalClear"
      data-bs-whatever="@getbootstrap" style="margin-right: 1rem">
        Clear Notes
      </button>
      <button
        class="btn btn-success"
        id="btn-modal-create"
        data-bs-toggle="modal"
        data-bs-target="#modalCreate"
        data-bs-whatever="@getbootstrap"
      >
        + Add Note
      </button>
    </div>
  </div>
</div>
<script src="/js/day.bundle.js"></script> 
<%- include('./includes/footer') -%>
